<html>
	<head>
		<title>Edit Updtr. page</title>
		
		
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<!--<script rel="text/javascript" src="script.js"/>-->
		
	</head>
	<body style="font-family:sans-serif;">
		<a href="/" style = "font-size:10px;">Updtr. Main</a>
	<div><div class="entry" >Subject</div><br>{{subject}}</div>
		<br>
		<form method = "POST">
			<label>
				<div class="entry" >Content</div><br>
				<textarea class="content" name ="content" value = "content">{{content}}</textarea>
			</label>
			<div class="error">{{error}}</div>
			<input type="submit">
		</form>		
		<hr style="width:800px;  margin:20px; padding:0px;">
		
		
	</body>

</html> 