<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
    <div id="main_menu">
        <body>
        <form method="post">
            
            <label>
                <div>Username</div>
                <input type="text" name="username" value="{{username}}"> </input>
            </label>
            <div class="error">{{username_error}}</div>
            
            <label>
                <div>Password</div>
                <input type="password" name="password" value = "{{password}}">
            </label>
            <div class="error">{{password_error}}</div>
            <input type = "submit">
        </form>
        <br>
        <div style="font-family: sans-serif"><a href="/">Return to wiki</a></div>
        
        </body>
    </div>
</html>
