<html>
	<head>
		<title>Stefan's WikiApp</title>
		
		
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<!--<script rel="text/javascript" src="script.js"/>-->
		
	</head>
	<body>
	<div class="title">Enter a new WikiApp Post</div>
		<br>
		<form method = "POST">
			<label>
				<div class="entry" >Title</div><br>				
				<input type="text" name="subject" value={{subject}}>
			</label>
			<br><br>
			<label>
				<div class="entry" >Content</div><br>
				<textarea class="content" name ="content" value = "content" style="font-size:14px; width:600px; height:400px;">{{content}}</textarea>
			</label>
			<div class="error">{{error}}</div>
			<input type="submit">
		</form>		
		<hr style="width:800px;  margin:20px; padding:0px;">
		
		
	</body>

</html> 