<html>
	<head>
		<title>Updtr.>>> {{subject}}</title>
		
		
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<!--<script rel="text/javascript" src="script.js"/>-->
		
	</head>
	<body style="font-family:sans-serif;">

	<div class="title">{{subject}} <div>

		
	        <a href="/_edit/{{subject}}" style = "font-size:10px;">Edit</a>
	        <a href="/" style = "font-size:10px;">Updtr. Main</a>
	        
        

		<br>
		<div class="entry" >{{content |safe}}</div>
		<br>
				
		<hr style="width:800px;  margin:20px; padding:0px;">
		
		
	</body>

</html> 